$colorWheel : rgba(122, 227, 160, 1);
$colorIndex: 0;
$colorStep: 7;
$rotateIndex: 0;
$rotateStep: 60;

.menu-wrapper{
  height:100%;
  width:100%;
  position:absolute;
  transition: all .5s ease;
}

.menu {
  padding: 0;
  list-style: none;
  position: relative;
  margin: 40px auto;
  width: 40%;
  height: 0;
  padding-top: 40%;
  border-radius:50%;
  border:5px solid rgba(204, 173, 115, 0.973);
  box-shadow: 4px 8px 10px 2px #b3afaf;
}

.menu li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  cursor:pointer;
  height: 100%;
  clip-path: url(#sector);
  transform-style: preserve-3d;
  transition: all .2s ease-in-out;
}

@for $i from 0 through 6 {
   .menu-#{$i} {
    background-color: darken($colorWheel, $colorIndex * 1%);
    transform: rotate($rotateIndex * 1deg);
    @if ($i == 0) {
      .icon{
        right: 8%;
        top: 32%;
        transform: rotate(-31deg);
      }
    }
    @if ($i == 5) {
      .icon{
        right: 11%;
        top: 32%;
        transform: rotate(-28deg);
      }
    }
    &:hover {
      background-color: darken(rgba(122, 227, 160, .5), $colorIndex * 1%);
    }
  }
  $colorIndex: $colorIndex + $colorStep;
  $rotateIndex: $rotateIndex + $rotateStep;
}

.icon {
  position: absolute;
  right: 15%;
  top: 30%;
  transform: rotate(-40deg);
  color: darken($colorWheel, 60%);
  font-family: Indie Flower;
  font-size: 28px;

  button {
    display: block;
    border:none;
    background:none;
    border:1px solid #b3afaf;
    border-radius:3px;
    padding:4px;
    text-transform: uppercase;
    font-size: 12px;
    margin:0 10px;
    cursor:pointer;
  }
}