$base : rgb(93, 143, 207);
$colorStep: 7;
$colorIndex: 0;
$rotateStep: 60;
$rotateIndex: 0;

.menu-wrap{
  display: flex;
}

.menu {
  padding: 0;
  list-style: none;
  position: relative;
  margin: 40px auto;
  width: 40%;
  height: 0;
  padding-top: 40%;
  border-radius:50%;
  border:5px solid lighten($base, 10%);
  box-shadow: 4px 8px 10px 2px #b3afaf;
}

.menu li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  cursor:pointer;
  height: 100%;
  clip-path: url(#sector);
  transform-style: preserve-3d;
  transition: background-color .3s ease;
}

@for $i from 1 through 9 {
  .menu-#{$i} {
    background-color: darken($base, $colorIndex * 1%);
    transform: rotate($rotateIndex * 1deg);
    &:hover{
      background-color: darken($base, ($colorStep * 2) * 1%)
    } 
    $colorIndex: $colorIndex + $colorStep;
    $rotateIndex: $rotateIndex + $rotateStep;
  }
}  


.icon {
  position: absolute;
  right: 15%;
  top: 30%;
  transform: rotate(-40deg);
  color: darken($base, 60%);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;

  button {
    text-align: center;
    text-transform: uppercase;
    background: none;
    border: 1px solid #b3afaf;
    padding:3px;
    display: block;
    cursor: pointer;
    margin:5px 15px;
    &:hover {
      background: #b3afaf
    }
  }
}