$base : rgb(172, 132, 100);

.menu {
  padding: 0;
  list-style: none;
  position: relative;
  margin: 40px auto;
  width: 40%;
  height: 0;
  padding-top: 40%;
  border-radius:50%;
  border:5px solid rgba(204, 173, 115, 0.973);
  box-shadow: 4px 8px 10px 2px #b3afaf;
}

.menu li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  cursor:pointer;
  height: 100%;
  clip-path: url(#sector);
  transform-style: preserve-3d;
  transition: transform .2s ease-in-out;
}


.menu-0 {
  background-color: darken($base, 7%);
  transform: rotate(0deg);
  .icon{
    right: 8%;
    top: 32%;
    transform: rotate(-31deg);
  }
  &:hover{
    transform: rotate(0deg) scale(1.1);
  }
}

.menu-1 {
  background-color: darken($base, 7%);
  transform: rotate(60deg);
  &:hover{
    transform: rotate(60deg) scale(1.1);
  }
}

.menu-2 {
  background-color: darken($base, 14%);
  transform: rotate(120deg);
  &:hover{
    transform: rotate(120deg) scale(1.1);
  }
}

.menu-3 {
  background-color: darken($base, 28%);
  transform: rotate(180deg);
  &:hover{
    transform: rotate(180deg) scale(1.1);
  }
}

.menu-4 {
  background-color: darken($base, 35%);
  transform: rotate(240deg);
  &:hover{
    transform: rotate(240deg) scale(1.1);
  }
}

.menu-5 {
  background-color: darken($base, 40%);
  transform:rotate(300deg);
  .icon{
    right: 11%;
    top: 32%;
    transform: rotate(-28deg);
  }
  &:hover{
    transform: rotate(300deg) scale(1.1);
  }
}

.menu-6 {
  background-color: darken($base, 40%);
  transform: rotate(360deg);
  &:hover{
    transform: rotate(360deg) scale(1.1);
  }
}


.icon {
  position: absolute;
  /* exact values here depend on what you are placing inside the items (icon, image, text, etc.) */
  right: 15%;
  top: 30%;
  /* make sure it it rotated enough; angle of rotation = angle of the sector itself */
  transform: rotate(-40deg);
  /* style further as needed */
  color: darken($base, 60%);
  font-family: Indie Flower;
  font-size: 28px;
}